* {box-sizing: border-box; margin: 0;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap'); 
body { background-color: hsl(30, 38%, 92%); }
.container {display: flex; justify-content: center; align-items: center;  min-height:100vh; }
img {width: 300px; height: 350px;border-top-left-radius: 12px;}
.info {background-color: hsl(0, 0%, 100%); width: 300px; height: 350px; padding: 20px; border-top-right-radius: 12px;}
h1 {font-family: 'Montserrat'; font-weight: 500; font-size: 15;}
.name { opacity: 0.8;}
.text1 {font-family: "Fraunces"; font-weight: 700; margin-top: 10px; font-size: 25px;}
.text2 {font-family: 'Montserrat'; font-weight: 500; margin-top: 10px;  opacity: 0.8; line-height: 1.5;}
.price {display: flex; margin-top: 20px; align-items: center;}
.price1 {margin-right: 10px; font-size: 30px; color: hsl(158, 36%, 37%);}
.price2 {text-decoration: line-through;}
.cart {background-color: hsl(158, 36%, 37%); display: flex; border-radius: 10px; border: none; cursor: pointer; padding: 10px; justify-content: center; margin-top: 20px;}
.text3 {margin-left: 10px; color: hsl(0, 0%, 100%);}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width: 500px) {
  .container {flex-direction: column;  min-height:100vh; justify-content: center; margin: 5px;}
  img {height: 250px; width: 300px; border-top-left-radius: 12px; border-top-right-radius: 12px;}
  .info { width: 300px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top-right-radius: 0; margin-top: 0;}
  h1 {font-size: 12px;}
  .text1 {font-size: 20px;}
}
